<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-card-header text-center>One Rep Max</ion-card-header>
            <form [formGroup]="cycle" (ngSubmit)="setORM()">
              <ion-row *ngFor="let exercise of exercises" no-padding>
                <ion-col col-6 text-center>
                  <h2 class="exercise-name">{{exercise.name}}</h2>
                </ion-col>
                <ion-col *ngIf="!exercise.weight" col-6 text-center class="exercise-weight">
                  <ion-input
                    text-center 
                    formControlName="{{exercise.name}}" 
                    type="number" 
                    placeholder="Enter Weight">
                  </ion-input>
                </ion-col>
                <ion-col *ngIf="exercise.weight" col-6 text-center class="exercise-weight">
                  <h2>{{exercise.weight}}</h2>
                </ion-col>
            </ion-row>
            <div class="ORMButtons">
                <button ion-button full type="submit">Submit</button>
                <button ion-button full type="button" (click)="clearORM()">Clear</button>
            </div>
          </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <ion-card-header text-center>Select Available Weights</ion-card-header>
          <ion-row>
            <ion-col *ngFor="let weight of lightWeights" text-center col-3>
              <button ion-button block (click)="selectWeight">{{weight}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let weight of heavyWeights" text-center col-3>
              <button ion-button block (click)="selectWeight">{{weight}}</button>
            </ion-col>
          </ion-row>
          <button ion-button full class="weightClearButton">Clear</button>
    </ion-card-content>
  </ion-card>
</ion-content>
