page-list {
    .exercise-name{
        padding-top: 7px;
    }

    ion-input{
        border-bottom: 0.1px solid;
    }

    .ORMButtons{
        margin-top: 15px;
    }

    [col-3]{
        padding: 0px
    }

    .button-block{
        width: 95%;
    }

    .weightClearButton{
        margin-top: 15px;
    }
}

