<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cycle 1</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card class="top-card" (click)="selectDayModal()">
      <ion-card-content center>
        <h1>{{week | addSpace}}</h1> <h2>{{day | titlecase}}</h2>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="exercise-one">
        <h1 *ngIf="day === 'monday' || day === 'friday' ">Bench</h1>
        <h1 *ngIf=" day === 'wednesday' ">Shoulder Press</h1>
        <ion-row no-padding *ngFor="let set of UBSets">
          <ion-col col-3 text-center >
            {{set.name}}
          </ion-col>
          <ion-col *ngIf="weightPerSide">
            {{set.weight | halfWeight}}
          </ion-col>
          <ion-col *ngIf="!weightPerSide">
            {{set.weight}}
          </ion-col>
          <ion-col>
            {{set.reps}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content class="exercise-two">
        <h1 *ngIf="day === 'monday' || day === 'friday' ">Squat</h1>
        <h1 *ngIf="day === 'wednesday' ">Dead Lift</h1>
        <ion-row no-padding *ngFor="let set of LBSets">
            <ion-col col-3 text-center >
              {{set.name}}
            </ion-col>
            <ion-col *ngIf="weightPerSide">
                {{set.weight | halfWeight}}
            </ion-col>
            <ion-col *ngIf="!weightPerSide">
                {{set.weight | halfWeight}}
            </ion-col>
            <ion-col>
              {{set.reps}}
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>
    <button class="bottom-button" ion-button *ngIf="weightPerSide" (click)="switchSetWeightDisplay()">Show Total Weight</button>
    <button class="bottom-button" ion-button *ngIf="!weightPerSide" (click)="switchSetWeightDisplay()">Show Split Weight</button>
    <!-- <button ion-button (click)="runIt()">run it</button>
    <button ion-button (click)="tryIt()">try it</button>
    <button ion-button (click)="mathIt()">math it</button>
    <button ion-button (click)="displayIt()">display it</button> -->
</ion-content>
