<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-card-header 
        *ngIf="
          !bench.ORMWeight && 
          !squat.ORMWeight && 
          !shoulderPress.ORMWeight && 
          !deadLift.ORMWeight
          " text-center>Enter Your One Rep Maxes</ion-card-header>
        <ion-card-header 
        *ngIf="
          bench.ORMWeight && 
          squat.ORMWeight && 
          shoulderPress.ORMWeight && 
          deadLift.ORMWeight
          " text-center>Your One Rep Maxes</ion-card-header>
            <form [formGroup]="cycle" (ngSubmit)="setORM()">
              <ion-row *ngFor="let exercise of exercises" no-padding>
                <ion-col col-6 text-center>
                  <h2 class="exercise-name">{{exercise.name}}</h2>
                </ion-col>
                <ion-col *ngIf="!exercise.ORMWeight" col-6 text-center class="exercise-weight">
                  <ion-input
                    text-center 
                    formControlName="{{exercise.name}}" 
                    type="number" 
                    placeholder="Enter Weight">
                  </ion-input>
                </ion-col>
                <ion-col *ngIf="exercise.ORMWeight" col-6 text-center class="exercise-weight">
                  <h2>{{exercise.ORMWeight}}</h2>
                </ion-col>
            </ion-row>
            <div class="ORMButtons">
              <button 
                ion-button
                [disabled]="this.bench.ORMWeight || !cycle.valid"
                full 
                type="submit" 
                >Submit
              </button>
                <button ion-button full type="button" (click)="tapClearORM()">Clear</button>
            </div>
          </form>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trainingMaxes">
    <ion-card-content>
      <ion-card-header text-center>Your Training Maxes</ion-card-header>
      <ion-row *ngFor="let exercise of exercises" no-padding>
          <ion-col col-6 text-center>
            <h2 >{{exercise.name}}</h2>
          </ion-col>
          <ion-col col-6 text-center>
              <h2>{{exercise.TMWeight}}</h2>
          </ion-col>
      </ion-row>
      <p>Your TM (Training Max) is a percentage of your 1RM (One Rep Max) to train with.</p>
      <p>After each cycle we will add weight to your TM not your 1RM</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
        <ion-card-header text-center>Select Available Weights</ion-card-header>
          <ion-row>
            <ion-col *ngFor="let weight of lightWeights" text-center col-3>
              <button
              ion-button 
              block 
              [disabled]="weight.disabled" 
              (click)="weight.disabled=true" 
              (click)="selectWeight(weight.name)">{{weight.name}}</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let weight of heavyWeights" text-center col-3>
              <button 
              ion-button 
              block 
              [disabled]="weight.disabled" 
              (click)="weight.disabled=true" 
              (click)="selectWeight(weight.name)">{{weight.name}}</button>
            </ion-col>
          </ion-row>
          <button ion-button full class="weightClearButton" (click)="clearAllWeights()">Clear</button>
    </ion-card-content>
  </ion-card>
</ion-content>
