next-cycle-modal{
    ion-content{
        .option-button{
            text-align: center;
            width: 50% !important;
            margin-left: 25%;
        }
        .info-text{
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 16px;
        }
    }
}