tm-test-modal{
    ion-content{
        .top-card{
            text-align: center
        }
        .bottom-button{
            text-align: center;
            width: 50% !important;
            margin-left: 25%;
        }
    }
}